{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "max-len": "off",
    "operator-linebreak": "off",
    "no-debugger": "off",
    "padded-blocks": "off",
    "comma-spacing": "off",
    "no-multiple-empty-lines": "off",
    "quotes": "off",
    "no-case-declarations": "off",
    "spaced-comment": "off",
    "keyword-spacing": "off",
    "no-unused-vars": "off",
    "space-before-blocks": "off",
    "indent": "off",
    "object-curly-spacing": "off",
    "eol-last": "off",
    "no-multi-spaces": "off"
  },
  "extends": ["eslint:recommended", "google"]
}

